/*********************** css reset **************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Courgette', cursive;
}

/*************************************************************/


/******************* header section **************************/

header {
    width:100%;
     padding: 50px 0;
    background-color: #3C3C3C;
    position:fixed;
    margin-top: -320px;
    z-index: 2;
    background-image: linear-gradient(white, black);
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

header li {
    display: inline;
}

header .fab{
    color: #583030;
    padding: 10px;
    width: 60px;
    font-size: 2.2rem;
    background-color:white;
    border-radius:5px;
    box-shadow: 1px 1px 5px black;
    cursor:pointer;
}

header .fab:hover{
    background-color: #F0F0F0; 
}

/********************************************************************/

/*************************** nav section ****************************/

nav {
    position: fixed;
    margin-top: -120px;
    width: 100vw;
    background-color: black;
    z-index: 2;
}

nav .nav-wrapper {
    width: 400px;
    margin: 0 auto;
}

.nav-wrapper ul {
    list-style: none;
}

.nav-wrapper li {
    display: inline-block;
    margin: 0;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.nav-wrapper li:hover {
    background-color: gray;
    border-bottom: 2px solid white;
}

.highlight {
    background-color: gray;
    border-bottom: 2px solid white;
}

/*******************************************************************/


/************************** main section ***************************/

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 280px auto 10px;
    justify-content: space-around;
}

.small-content-wrapper {
    max-width: 400px;
    min-width: 350px;
    margin: 20px 10px;
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 150px;
}

.small-content-wrapper img {
    width: 100%;
    height: 300px;
}

.small-content-wrapper .text-box {
    width: 100%;
    padding: 10px;
    min-height: 200px;
    font-size: 1.8rem;
    color: gray;
}


.Contactusheading{
font-size: 2rem;
}



.inner-content-wrapper {
    width: 100%;
}

.form-text-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0;
    justify-content: space-around;
    padding-bottom: 100px;
}

.contact-text {
    max-width: 100%;
    width: 400px;
    border: 1px solid gray;
    margin: 20px;
    box-shadow: 1px 1px 10px black;
  
}

.contact-text > .info-box {
    padding: 20px;
    font-size: 1.3rem;
   
    
}

.contact-form {
    max-width: 100%;
    width: 400px;
    box-shadow: 1px 1px 5px black;
    padding: 10px;
   
}

.contact-form input {
    width: 100%;
    padding: 10px;
}

.contact-form textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
}

.contact-form button {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: blue;
    border: none;
    font-size: 0.9rem;
    border-radius: 3px;
    box-shadow: 1px 1px 5px black;
    margin-top: 5px;
}

.contact-form button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}

iframe {
    width: 100%;
    height: 400px;
}

.table-wrapper {
    width: 400px;
    max-width: 100%;
    overflow-x: auto;
}

table { 
    border-collapse: collapse; 
    width: 100%; 
} 
  
th, td { 
    text-align: left; 
    padding: 8px; 
} 
  
tr:nth-child(even) { 
    background-color: rgb(179, 180, 179); 
} 

.position {
    color: black;
}


.content-wrapper-small-about{
width: 70%;
min-height:500px;
background-color: white;
padding: 20px;
box-shadow: 1px 1px 10px black;

    
}

.About_IMG{
max-height: 200px;
min-height: 140px;
width: 100%;
float: left;
}

.TextAbout{
float: left;
padding: 20px;
font-size: 1.8rem;
overflow: scroll;
overflow-x: hidden;
max-height: 250px;
 
}


.small-content-wrapper-careers {
    max-width: 400px;
    min-width: 350px;
    margin: 20px;
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 150px;
}

.small-content-wrapper-careers2 {
    max-width: 800px;
    min-width: 350px;
    margin: 20px;
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 150px;
   
}

#Chef-John{
width: auto;
height: 350px;
}

.Job-Advert-Par{
margin-right: 15px;
margin-left: 15px;
font-size: 1.2rem;
}

#Sales_Kyle{
width: 400px;
height: 350px;
}




/*******************************************************************/

/**************************footer***********************************/

footer {
    padding: 50px 0;
    text-align: center;
    background-color: black;
    color: gray;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

/********************************************************************/